.ui.menu .logo.image {
    width: 35px;
    margin-right: 1em;
}

.toc {
    position: fixed;
    z-index: 1;
    background-color: #1b1c1d;
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.toc .ui.menu {
    border-radius: 0;
    border-width: 0 1px 0 0;
    box-shadow: none;
    margin: 0;
    width: inherit;
    overflow: hidden;
    will-change: transform;
    max-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: -webkit-fill-available;
}

.article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    margin-left: 250px;
    /* height: 100%; */
}

.full.height {
    background-color: #FFFFFF;
    height: 100%;
}

.main.container {
    margin-right: 318px !important;
    margin-left: 3em !important;
    margin-right: 3em !important;
    width: auto !important;
    max-width: 960px !important;
    padding: 2em 0em 7em;
    /* height: 100%; */
}

body.pushable {
    background-color: #FFFFFF!important;
}

.masthead .introduction {
    display: block;
    position: relative;
}

.masthead .container {
    margin-right: 387px !important;

}

.masthead .container, .main.container, .fixed.menu > .container {
    margin-left: 3em !important;
    margin-right: 3em !important;
    width: auto !important;
    max-width: 960px !important;
}

.masthead.segment {
    position: relative;
    z-index: 3;
    margin: 0em;
    min-height: 185px;
    padding: 3em 0em;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
}