<!DOCTYPE html>
<html lang="en">
<head>
    <?php include($this->_scriptPath."head.html")?>
    <title>
        <?=$this->title?>
    </title>
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/css/content.css">
</head>
<body>
    <?php include($this->_scriptPath."menu.html") ?>
    <div class="ui main text container">
        <div class="ui message">
            <!-- <div class="header">
                ไม่พบหน้านี้
            </div> -->
            <h2 class="ui center aligned icon header">
                <i class="exclamation circle icon"></i>
                ไม่พบหน้านี้
            </h2>
        </div>
    </div>
    
    <?php include($this->_scriptPath."footer.html")?>
</body>
</html>