<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="<?=SITE_HOST?>/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/site.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/menu.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/transition.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/icon.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/css/dashboard.css">
    <title><?=$this->title?></title>

    <script src="<?=SITE_HOST?>/assets/js/jquery-3.3.1.min.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/transition.js"></script>

</head>
<body class="layouts pushable">
    <div class="full height">
        <?=$this->dashboard_menu?>
        <div class="article">
            <div class="ui main intro container">
                <h2 class="ui dividing header"><?=$this->header?><a class="anchor" id="starter"></a></h2>
                <form class="ui form" method="POST" action="<?=$this->action_url?>">
                    <div class="field">
                        <label>หัวข้อ</label>
                        <input type="text" name="title" maxlength="100" placeholder="หัวข้อ" value="<?=$this->content_title?>" required>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>หมวดหมู่</label>
                            <select name="tag" class="ui selection dropdown" required>
                                <option value="">หมวดหมู่</option>
                                <?=$this->tags?>
                            </select>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label>เนื้อหา</label>
                        <textarea name="body" rows="30" required oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'><?=$this->body?></textarea>
                    </div>
                    <button class="ui right floated green button" type="submit"><?=$this->submit_btn?></button>
                  </form>
            </div>
        </div>
    </div>
    <script>
        $('select.dropdown').dropdown();
    </script>
</body>
</html>