<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="<?=SITE_HOST?>/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/site.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/menu.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/transition.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/icon.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/css/dashboard.css">
    <title><?=$this->title?></title>

    <script src="<?=SITE_HOST?>/assets/js/jquery-3.3.1.min.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/transition.js"></script>

</head>
<body class="layouts pushable">
    <div class="full height">
        <?=$this->dashboard_menu?>
        <div class="article">
            <div class="ui main intro container">
                <h2 class="ui dividing header"><?=$this->header?><a class="anchor" id="starter"></a></h2>
                <form class="ui form" method="POST" action="<?=SITE_HOST?>/admin_profile_update.php" autocomplete="off">
                        <div class="field">
                            <label>ชื่อที่แสดง</label>
                            <input type="text" name="display_name" value="<?=$this->display_name?>" placeholder="ชื่อที่แสดง">
                        </div>
                        <div class="field">
                            <label>ชื่อผู้ใช้</label>
                            <input type="text" name="new_username" value="<?=$this->username?>" placeholder="ชื่อผู้ใช้">
                        </div>
                    <button class="ui primary button" type="submit">บันทึก</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>