<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="<?=SITE_HOST?>/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/site.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/menu.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/transition.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/icon.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/css/dashboard.css">
    <title><?=$this->title?></title>

    <script src="<?=SITE_HOST?>/assets/js/jquery-3.3.1.min.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/transition.js"></script>

</head>
<body class="layouts pushable">
    <div class="full height">
        <?=$this->dashboard_menu?>
        <div class="article">
            <div class="ui main intro container">
                <h2 class="ui dividing header"><?=$this->header?><a class="anchor" id="starter"></a></h2>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th class="center aligned">ลำดับ</th>
                            <th class="center aligned">ชื่อผู้ใช้</th>
                            <th class="center aligned">ชื่อแสดง</th>
                            <th class="center aligned">เครื่องมือ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?=$this->content_tr?>
                    </tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th colspan="4">
                                <a class="ui right floated small primary labeled icon button" href="<?=SITE_HOST?>/admin_add_user.php">
                                    <i class="user icon"></i>เพิ่มผู้ใช้
                                </a>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- <script>
        $('select.dropdown').dropdown();
    </script> -->
</body>
</html>