<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="<?=SITE_HOST?>/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/site.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/menu.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/transition.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/icon.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/css/dashboard.css">
    <title><?=$this->title?></title>

    <script src="<?=SITE_HOST?>/assets/js/jquery-3.3.1.min.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/transition.js"></script>
    <script src="<?=SITE_HOST?>/assets/dist/semantic/components/form.js"></script>


    <!-- <style type="text/css">
        body {
          background-color: #DADADA;
        }
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: -100px;
        }
        .column {
          max-width: 450px;
        }
    </style> -->
    <script>
      $(document)
        .ready(function() {
          $('.ui.form')
            .form({
              fields: {
                old_pass: {
                  identifier  : 'old_pass',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'กรุณาใส่รหัสผ่านเดิม'
                    },
                    {
                      type   : 'length[6]',
                      prompt : 'ใส่รหัสผ่านเดิมอย่างน้อย 6 ตัวอักษร'
                    }
                  ]
                },
                new_pass: {
                  identifier  : 'new_pass',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'กรุณาใส่รหัสผ่านใหม่'
                    },
                    {
                      type   : 'length[6]',
                      prompt : 'ใส่รหัสผ่านใหม่อย่างน้อย 6 ตัวอักษร'
                    }
                  ]
                },
                confirm_new_pass: {
                  identifier  : 'confirm_new_pass',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'กรุณาใส่ยืนยันรหัสผ่านใหม่'
                    },
                    {
                      type   : 'length[6]',
                      prompt : 'ใส่ยืนยันรหัสผ่านใหม่อย่างน้อย 6 ตัวอักษร'
                    }
                  ]
                }
              }
            })
          ;
        })
      ;
    </script>

</head>
<body class="layouts pushable">
    <div class="full height">
        <?=$this->dashboard_menu?>
        <div class="article">
            <div class="ui main intro container">
                <h2 class="ui dividing header"><?=$this->header?><a class="anchor" id="starter"></a></h2>
                <form class="ui form" method="POST" action="<?=SITE_HOST?>/admin_password_update.php" enctype="multipart/form-data" autocomplete="off">
                    <div class="field">
                        <label>รหัสผ่านเดิม</label>
                        <input type="password" name="old_pass" minlength="6" maxlength="50" placeholder="รหัสผ่านเดิม">
                    </div>
                    <div class="field">
                        <label>รหัสผ่านใหม่</label>
                        <input type="password" name="new_pass" minlength="6" maxlength="50" placeholder="รหัสผ่านใหม่">
                    </div>
                    <div class="field">
                        <label>ยืนยันรหัสผ่านใหม่</label>
                        <input type="password" name="confirm_new_pass" minlength="6" maxlength="50" placeholder="ยืนยันรหัสผ่านใหม่">
                    </div>
                    <button class="ui primary button" type="submit">เปลี่ยนรหัสผ่าน</button>
                    <div class="ui error message"></div>
                </form>
                <?php
                if ($this->error !== "")
                {
                    echo '<div class="ui error message">'.$this->error.'</div>';
                }
                if ($this->success !== "")
                {
                    echo '<div class="ui positive message">'.$this->success.'</div>';
                }
                ?>
            </div>
        </div>
    </div>
</body>
</html>