<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="<?=SITE_HOST?>/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/site.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/menu.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/dist/semantic/components/icon.css">

    <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/css/dashboard.css">
    <title>Document</title>
</head>
<body class="button-page pushable">
    <div class="full height">
        <div class="toc">
            <div class="ui vertical inverted menu">
                <div class="item">
                    <a class="ui logo icon image" href="/">
                        <img src="<?=SITE_HOST?>/assets/images/logo.png">
                    </a>
                    <a href="/"><b>UI Docs</b></a>
                </div>
                <a class="item" href="/introduction/getting-started.html">
                    <b>Getting Started</b>
                </a>
                <div class="item">
                    <div class="header">Introduction</div>
                    <div class="menu">
                          
                        <a class="item" href="/introduction/integrations.html">
                            Integrations
                        </a>
                        
                        <a class="item" href="/introduction/build-tools.html">
                            Build Tools
                        </a>
                    </div>
                </div>
                <div class="item">
                        <div class="header">Usage</div>
                        <div class="menu">
                          
                            <a class="item" href="/usage/theming.html">
                              Theming
                            </a>
                          
                            <a class="item" href="/usage/layout.html">
                              Layouts
                            </a>
                          
                        </div>
                      </div>
            </div>
        </div>
        <div class="article">
                <div class="ui masthead vertical segment">
                    <div class="ui container">

                    </div>
                </div>
            <div class="ui main intro container">
            </div>
        </div>
    </div>
</body>
</html>