<!DOCTYPE html>
<html lang="en">
<head>
   <?php include($this->_scriptPath."head.html")?>
   <title>
      <?=$this->title?>
   </title>
   <link rel="stylesheet" type="text/css" href="<?=SITE_HOST?>/assets/css/index.css">

</head>
<body>
    <div class="ui inverted vertical masthead center aligned segment" style="background-image: url(<?=SITE_HOST?>/assets/images/gallery/head.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-position-y: 6%;">
      <?php include($this->_scriptPath."menu.html") ?>
      <div class="ui text container">
        <h1 class="ui inverted header">
          <?=$this->site_name_th?>
        </h1>
        <h2><?=$this->site_name?></h2>
      </div>
        
    </div>
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h4 class="ui horizontal divider header">
          เนื้อหาใหม่
        </h4>
        <?=$this->content_features?>
        <a class="ui green right labeled icon button" a href="<?=SITE_HOST?>/tags">
            <i class="right arrow icon"></i>
            ดูเนื้อหาทั้งหมด
        </a>
      </div>
    </div>
    <?php include($this->_scriptPath."footer.html")?>
</body>